@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  @apply h-full box-border bg-[#F5F5F5];
}

.parent:hover .icon-color {
  filter: invert(100%) sepia(100%) saturate(2%) hue-rotate(106deg)
    brightness(107%) contrast(101%);
}

.icon-color {
  filter: invert(98%) sepia(0%) saturate(0%) hue-rotate(160deg) brightness(93%)
    contrast(88%);
}

.white-color {
  filter: invert(100%) sepia(100%) saturate(2%) hue-rotate(106deg)
    brightness(107%) contrast(101%);
}
